body {
    background-color: lightblue; 
    color: darkblue;
    font-family: 'Times New Roman', sans-serif;
}

/* .headshot {
    width: 300px;          
    height: auto;          
    position: relative;   
    left: 50px;          
    top: 20px;          
} */
  